<div style="position: relative;">
    <ng-whiteboard-complex #whiteboardComplex [mode]="'edit'"></ng-whiteboard-complex>
</div>
<!-- <div style="position: relative;">
    <ng-whiteboard-complex #whiteboardComplex [mode]="'edit'"></ng-whiteboard-complex>
</div> -->

<!-- <div style="position:relative; background: red; height: 440px;">
    <div style="width: 400px; height: 400px; overflow: auto; position: absolute;left: 50px;">
        <div [style.width.px]="900" [style.height.px]="600" style="border: solid 2px red;">
            <ng-whiteboard canvasWidth="900" canvasHeight="600"></ng-whiteboard>
        </div>
    </div>
</div> -->
